.scroll-view-up {
  display: none !important;
}

body::-webkit-scrollbar {
  width: 0 !important;
}

.clickableDomOnSelected{
  transition: all s0.5s ease;
  border: 1px solid #00bcd4 !important ;
}

.loadanimespinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -80px;
  width: 400px;
  height: 160px;
  text-align: center;
  font-size: 10px;
}

.loadanimespinner>div {
  height: 100%;
  width: 10px;
  margin: 0 10px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.loadanimespinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.loadanimespinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.loadanimespinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.loadanimespinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {

  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4)
  }

  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes stretchdelay {

  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/* a:hover {
  color: #00796b;
} */


/* 选定的链接 */
